#movie img, #movie img{
    width: 100%;
}

@media(min-width:960px){
    #movies .col-md-3 .well{
        height: 360px;
    }

    #movies .col-md-3 img{
        height: 240px;
    }
}
.cards{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
}
